workflows/Reddit Shorts Automation - V4_Drafts.json
{
  "name": "Reddit Shorts Automation - V4 (Scanner Dashboard)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 6 }] }
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 200],
      "id": "v4-cron-001"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 400],
      "id": "v4-manual-001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "jsCode": "// ── Configuración de fuentes ──────────────────────────────────────────\n// Añade o quita fuentes aquí. El workflow las procesará todas automáticamente.\n\nconst NEWS_API_KEY = 'TU_CLAVE_NEWSAPI';\n\nconst wkDate = new Date();\nwkDate.setDate(wkDate.getDate() - 2);\nconst y = wkDate.getFullYear();\nconst m = String(wkDate.getMonth() + 1).padStart(2, '0');\nconst d = String(wkDate.getDate()).padStart(2, '0');\n\nconst subs = [\n  { sub: 'todayilearned', niche: 'curiosidades' },\n  { sub: 'nosleep', niche: 'terror' },\n  { sub: 'interestingasfuck', niche: 'curiosidades' },\n  { sub: 'unresolvedmysteries', niche: 'misterio' },\n  { sub: 'shortscarystories', niche: 'terror' },\n  { sub: 'explainlikeimfive', niche: 'curiosidades' },\n  { sub: 'worldnews', niche: 'noticias' },\n  { sub: 'space', niche: 'ciencia' },\n  { sub: 'history', niche: 'curiosidades' },\n  { sub: 'natureismetal', niche: 'naturaleza' },\n  { sub: 'showerthoughts', niche: 'curiosidades' },\n  { sub: 'mildlyinteresting', niche: 'curiosidades' },\n  { sub: 'Damnthatsinteresting', niche: 'curiosidades' },\n  { sub: 'TrueCrime', niche: 'misterio' },\n  { sub: 'CreepyWikipedia', niche: 'misterio' }\n];\n\nconst sources = subs.map(s => ({\n  json: {\n    source: `reddit_${s.sub}`,\n    url: `https://www.reddit.com/r/${s.sub}/top.json?limit=50&t=week`,\n    niche: s.niche,\n    voice_id: s.sub === 'nosleep' || s.sub === 'shortscarystories' ? 'es-ES-ElviraNeural' : 'es-ES-AlvaroNeural'\n  }\n}));\n\nsources.push(\n  { json: { source: 'hackernews', url: 'https://hn.algolia.com/api/v1/search_by_date?tags=story&hitsPerPage=40&numericFilters=points%3E80', niche: 'curiosidades', voice_id: 'es-ES-AlvaroNeural' } },\n  { json: { source: 'newsapi', url: `https://newsapi.org/v2/everything?q=curiosidades+historia+ciencia&language=es&sortBy=publishedAt&pageSize=40&apiKey=${NEWS_API_KEY}`, niche: 'curiosidades', voice_id: 'es-ES-AlvaroNeural' } },\n  { json: { source: 'wikipedia', url: `https://wikimedia.org/api/rest_v1/metrics/pageviews/top/all-access/${y}/${m}/${d}`, niche: 'curiosidades', voice_id: 'es-ES-AlvaroNeural' } }\n);\n\nreturn sources;"
      },
      "name": "Config Fuentes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [350, 300],
      "id": "v4-config-002"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "ShortsEngine/1.0" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "name": "Fetch Fuentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [550, 300],
      "id": "v4-fetch-002",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const configs  = $('Config Fuentes').all();\nconst results  = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const config     = configs[i]?.json || {};\n  const sourceType = config.source || '';\n  const niche      = config.niche      || 'curiosidades';\n  const voice_id   = config.voice_id   || 'es-ES-AlvaroNeural';\n  const data       = items[i].json;\n  \n  if (!data || data.error || data.status === 'error') continue;\n\n  let posts = [];\n  if (sourceType.startsWith('reddit')) {\n    const children = data.data?.children || [];\n    posts = children.filter(p => !p.data.stickied && !p.data.over_18 && p.data.title).map(p => ({\n      title: p.data.title, content: p.data.selftext || p.data.title, \n      viral_score: Math.round((p.data.score || 0) * (p.data.upvote_ratio || 1) + (p.data.num_comments || 0) * 2),\n      niche, voice_id, source: sourceType\n    }));\n  } else if (sourceType === 'hackernews') {\n    posts = (data.hits || []).filter(h => h.title).map(h => ({\n      title: h.title, content: h.url || h.title, \n      viral_score: Math.round((h.points || 0) * 1.5 + (h.num_comments || 0) * 3),\n      niche, voice_id, source: 'hackernews'\n    }));\n  } else if (sourceType === 'newsapi' && data.articles) {\n    posts = data.articles.filter(a => a.title && !a.title.includes('[Removed]')).map(a => ({\n      title: a.title, content: a.description || a.title,\n      viral_score: 500, niche, voice_id, source: 'newsapi'\n    }));\n  } else if (sourceType === 'wikipedia') {\n    const skipRe = /^(Main_Page|Special:|Wikipedia:|Help:|Portal:|Template:|File:|Category:|Talk:|User:|WP:)/;\n    posts = (data.items?.[0]?.articles || []).filter(a => a.article && !skipRe.test(a.article)).slice(0, 30).map(a => ({\n      title: decodeURIComponent(a.article.replace(/_/g, ' ')), content: 'Tendencia en Wikipedia',\n      viral_score: Math.round((a.views || 0) / 100), niche, voice_id, source: 'wikipedia'\n    }));\n  }\n  results.push(...posts);\n}\n\nif (results.length === 0) return [];\n\nresults.sort((a, b) => b.viral_score - a.viral_score);\nreturn results.slice(0, 50).map(r => ({ json: r }));"
      },
      "name": "Normalizar Fuentes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [750, 300],
      "id": "v4-normalize-002"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.49:8000/api/jobs/filter-new",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.all().map(item => item.json)) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key", "value": "1275" }
          ]
        }
      },
      "id": "v4-filter-002",
      "name": "Filtrar Noticias Nuevas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [950, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.items?.length || 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "v4-if-002",
      "name": "¿Hay noticias nuevas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.49:8000/api/candidates/batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: $json.items }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key", "value": "1275" }
          ]
        }
      },
      "id": "v4-push-dashboard-001",
      "name": "Enviar a Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1350, 200]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [[{ "node": "Config Fuentes", "type": "main", "index": 0 }]]
    },
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Config Fuentes", "type": "main", "index": 0 }]]
    },
    "Config Fuentes": {
      "main": [[{ "node": "Fetch Fuentes", "type": "main", "index": 0 }]]
    },
    "Fetch Fuentes": {
      "main": [[{ "node": "Normalizar Fuentes", "type": "main", "index": 0 }]]
    },
    "Normalizar Fuentes": {
      "main": [[{ "node": "Filtrar Noticias Nuevas", "type": "main", "index": 0 }]]
    },
    "Filtrar Noticias Nuevas": {
      "main": [[{ "node": "¿Hay noticias nuevas?", "type": "main", "index": 0 }]]
    },
    "¿Hay noticias nuevas?": {
      "main": [
        [{ "node": "Enviar a Dashboard", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
